.header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: white; */
    width: 90%;
    margin:auto;
    position: relative;
    top: 50px;
    z-index: -1;
}

.header .left-section{
    position: relative;
    left: 140px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header .left-section span{
    color: rgb(188, 184, 184);
    font-size: 30px;
}

.header .left-section h1{
    color: whitesmoke;
    font-size: 60px;
    font-weight: 500;
}

.header .left-section h1 span{
    color: yellow;
    font-size: 60px;
    font-weight: 500;
}

.header .left-section p{
    color: rgb(217, 215, 215);
    font-size: 18px;
}

.header .left-section button{

    width: 150px;
    background-color: rgb(225,225,225);
    color: rgb(30,30,30);
    border-radius: 20px;
    padding: 10px 15px;
    font-weight: 400;
    font-size: 18px;
    outline: none;
    border: none;
    
}

.header .left-section{

    position: relative;
    right: 30px;
}